/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/11/2015, 12:26:35
    Author     : VIVO
*/


  #logo {
background-image: url(img/logo.png); /* Insere a imagem */
width: 150px;/* Faz a largura ficar igual a da largura da imagem de exemplo */
height: 150px;/* Faz a altura ficar igual a da altura da imagem de exemplo */
}
